<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H Tours and Travels - Welcome!</title>
    <style>
        /* Include your main email CSS styles here */
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            
        }

        .container {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
        }

        .header {
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            background-color: #5ec4f388;
        }

        .header h1 {
            font-size: 24px;
            margin: 0;
        }

        .content {
            padding: 20px 0;
        }

        .content p {
            line-height: 1.5;
        }

        .footer {
            text-align: center;
            padding: 20px 0;
            border-top: 1px solid #ddd;
            background-color: #5ec4f388;
        }

        .footer p {
            font-size: 12px;
            color: #aaa;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>H Store</h1>
        </div>
        <div class="content">
            <p>Hi <%=name%>,</p>
            <p>Welcome to H Store! We're thrilled to have you join our community of shopping enthusiasts.</p>
            <p>Now you can:</p>
            <ul>
                <li>Browse our wide range of products.</li>
                <li>Manage your shopping information in one place.</li>
            </ul>
            <p>To get started, explore our website at.</p>
            <p>Happy shopping!</p>
        </div>
        <div class="footer">
            <p>&copy; H Tours and Travels 2024</p>
        </div>
    </div>
</body>

</html>